body {
/*	background: #000 url(/themes/stationid/images/foshay_bg.jpg) center -100px no-repeat;*/
}

#light {
	position: absolute;
	top: 7px;
	left: 0;
}

#MainContent h1 {
	padding-left: 35px;
	font-size: 35px;
}

#ScrollingContent {
	margin-top: 50px;
}

#ScrollingContent #BigText h2#on-air {
	border: 1px solid #ED1651;
	text-align: center;
	font-size: 600%;
}

#ScrollingContent #BigText .sc-line {
	font-size: 500%;
	text-align: center;
}

#ScrollingContent #BigText #sc-line2 {
	font-size: 275%;
}
#ScrollingContent #BigText #sc-line3 {
	font-size: 200%;
}
#ScrollingContent #BigText #sc-line4 {
	font-size: 275%;
}
#ScrollingContent #BigText #sc-line5 {
	font-size: 200%;
}

#ScrollingContent #notion-credit {
	margin-top: 50px;
}

#Background {
	
}

#MediaPlayerWrap {
	width:100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/** {
  float: none;      
  background: #fff;  
  color: #000;
}*/

/* Slightly reducing font size to reduce need to scroll */
/*body {
	font-size: 80%;
	color: #fff;
	font-family: Helvetica, Arial, sans-serif;
}*/

/*#BigText { display: none; }

#MainContent {
	position: fixed;
	top: 100px;
	left: 150px;
	width: 30%;
}

h1 {
	font-family: 'LeagueGothicRegular', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 36px;
	text-transform: uppercase;
	margin-bottom: 0;
}

#MainContent ul#links {
	list-style: none;
	margin: 0;
	padding: 0;
}
#MainContent ul#links li {}
#MainContent ul#links li a {
	height: 18px;
	padding-left: 20px;
	background: transparent url(/themes/stationid/images/si_icons_sprite.png) 0 -17px no-repeat;
}
#MainContent ul#links li a:hover {
	background-position: 0px 1px;
}

#MainContent ul#links li a .at {
	color: #555;
}

#MainContent ul#links li a .twitter_handle {
	text-transform: none;
	font-size: 105%;
	color: #ED1651;
}*/